CONFIG_ARCH_STM32=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_SERIAL_STM32=y
CONFIG_SERIAL_STM32_CONSOLE=y
# CONFIG_VIRTIO_MENU is not set
CONFIG_COMMON_CLK_SCMI=y
CONFIG_ARM_SMC_MBOX=y
CONFIG_STM32_IPCC=y
CONFIG_REMOTEPROC=y
CONFIG_STM32_RPROC=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_MMC=y
CONFIG_MMC_BLOCK_MINORS=16
CONFIG_MMC_ARMMMCI=y
CONFIG_MMC_SDHCI=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_EXT4_FS=y
CONFIG_DEVTMPFS=y
CONFIG_WATCHDOG=y
CONFIG_STM32_WATCHDOG=y