// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2017 - All Rights Reserved
 * Author: Ludovic Barre <ludovic.barre@st.com> for STMicroelectronics.
 */
#include <dt-bindings/pinctrl/stm32-pinfunc.h>

&pinctrl {
	uart4_pins_a: uart4-0 {
		pins1 {
			//pinmux = <STM32_PINMUX('G', 11, AF6)>; /* UART4_TX */
			pinmux = <STM32_PINMUX('A', 12,AF6)>; /* SPI5_MISO */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('A', 11, AF6)>; /* UART4_RX */
			bias-disable;
		};
	};
	uart4_idle_pins_a: uart4-idle-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 12, ANALOG)>; /* UART4_TX */
		};
		pins2 {
			pinmux = <STM32_PINMUX('A', 11, AF6)>; /* UART4_RX */
			bias-disable;
		};
	};

	uart4_sleep_pins_a: uart4-sleep-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 12, ANALOG)>, /* UART4_TX */
				 <STM32_PINMUX('A', 11, ANALOG)>; /* UART4_RX */
		};
	};
};

// 启用需要的 GPIO banks
&gpioa { status = "okay"; };
&gpiog { status = "okay"; };
&pinctrl_z { status = "disabled"; };