// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
* Copyright (C) 100ASK 2020 - All Rights Reserved
* Author: 100ask
* support: weidongshan@qq.com
*/

/dts-v1/;

#include "stm32mp157-onedots.dtsi"
#include "stm32mp157-onedots-pinctrl.dtsi"
#include "stm32mp15xx-onedots.dtsi"

/ {
	model = "Onedots www.onedots.com.cn";
	compatible = "st,stm32mp157c-onedots-512d-v1", "st,stm32mp157";
  // 指定封装类型以消除警告
    st,package = <STM32MP_PKG_AC>;  // 根据你的实际芯片选择
	aliases {
		serial0 = &uart4; //debug
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

};
